@use "../../../styles/colors";

.header {
  position: absolute;
  top: 0;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem 1.6rem 1.8rem;
}

.burger-icon {
  display: none;
}

.nav-links-mobile {
  width: 90vw;
  height: 35vh;
  background-color: colors.$neutral-white;
  position: absolute;
  top: calc(100% + 2.2rem);
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.1rem;
  opacity: 0;
  visibility: hidden;
}

.nav-links-mobile::after {
  content: "";
  position: absolute;
  bottom: 99%;
  right: 0;
  border-top: 1.3rem solid transparent;
  border-right: 1.3rem solid colors.$neutral-white;
}

.close-nav-links-mobile {
  opacity: 0;
  visibility: hidden;
  animation: fadeOut 1 0.3s ease-out;
}

.open-nav-links-mobile {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1 0.3s ease-out;
}

@media (max-width: 600px) {
  .header {
    padding: 1.8rem 1rem 0 1.8rem;
  }
  .nav-desktop {
    display: none;
  }
  .burger-icon {
    display: inline;
  }
}

@media (min-width: 601px) {
  .nav-links-mobile {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
