<header class="header">
  <app-logo></app-logo>
  <nav class="nav-desktop">
    <app-nav-links [links]="links"></app-nav-links>
  </nav>
  <svg
    width="24"
    height="18"
    xmlns="http://www.w3.org/2000/svg"
    class="burger-icon"
    (click)="toggleSideMenu()"
  >
    <path
      d="M24 16v2H0v-2h24zm0-8v2H0V8h24zm0-8v2H0V0h24z"
      fill="#FFF"
      fill-rule="evenodd"
    />
  </svg>
  <nav
    class="nav-links-mobile"
    [ngClass]="{
      'open-nav-links-mobile': sideMenuIsOpen,
      'close-nav-links-mobile': sideMenuIsOpen !== null && !sideMenuIsOpen
    }"
  >
    <app-nav-links [links]="links"></app-nav-links>
  </nav>
</header>
