@use "../../../styles/use-fonts-colors" as ufc;

.testimonials {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
}

.heading {
  @include ufc.fraunces-font(900);
  color: ufc.$neutral-blue-g;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

@media (min-width: 901px) and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  .testimonials {
    padding: 4.8rem 1.8rem 5.4rem;
  }
}

@media (max-width: 600px) {
  .testimonials {
    padding: 3.6rem 1.2rem 4.8rem;
  }
  .heading {
    font-size: 0.8rem;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 3.6rem;
  }
}
