<section class="testimonials">
  <span class="heading">client testimonials</span>
  <div class="cards">
    <app-card
      *ngFor="let testimonial of testimonials"
      [testimonial]="testimonial"
    ></app-card>
  </div>
</section>
