@use "../../../../styles/use-fonts-colors" as ufc;

.card {
  padding-bottom: 3.2rem;
  background-size: cover;
  background-position: center;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.text-body {
  max-width: 50%;
  text-align: center;
}

.cyan-font-color {
  color: ufc.$primary-dark-cyan;
}

.blue-font-color {
  color: ufc.$primary-blue;
}

.heading {
  @include ufc.fraunces-font(900);
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

.description {
  line-height: 1.7;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .text-body {
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .text-body {
    max-width: 91%;
  }
}
