<div class="card" [ngStyle]="{ 'background-image': imagePath }">
  <div
    class="text-body"
    [ngClass]="{
      'cyan-font-color': feature.fontColor === 'cyan',
      'blue-font-color': feature.fontColor === 'blue'
    }"
  >
    <p class="heading">{{ feature.heading }}</p>
    <p class="description">{{ feature.description }}</p>
  </div>
</div>
