<app-navbar></app-navbar>
<section class="hero">
  <div class="body">
    <div class="heading">
      <p>we are creatives</p>
    </div>
    <a href="#features">
      <img
        src="../../../assets/img/icon-arrow-down.svg"
        alt="photo of arrow down"
        class="icon-arrow-down"
      />
    </a>
  </div>
</section>
