@use "../.././../styles/use-fonts-colors" as ufc;

.hero {
  height: 70vh;
  background-image: url(../../../assets/img/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 8.6rem;
  height: 60%;
}

.heading {
  @include ufc.fraunces-font(900);
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  justify-self: flex-end;
  text-align: center;
}

.icon-arrow-down {
  cursor: pointer;
  animation: down 3 linear 1s;
}

@keyframes down {
  from {
    transform: translateY(-2.4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .body {
    height: 65%;
  }
  .heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .hero {
    height: 60vh;
    background-image: url(../../../assets/img/mobile/image-header.jpg);
  }
  .body {
    padding-top: 7.2rem;
    height: 75%;
  }
  .heading {
    font-size: 2rem;
  }
}
