/* PRIMARY COLORS */
$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-dark-cyan: hsl(167, 40%, 24%);
$primary-blue: hsl(198, 62%, 26%);
$primary-cyan-moderate: hsl(168, 34%, 75%);

/* NEUTRAL COLORS */
$neutral-blue-vgd: hsl(212, 27%, 19%);
$neutral-blue-vdg: hsl(213, 9%, 39%);
$neutral-blue-dg: hsl(232, 10%, 55%);
$neutral-blue-g: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);

$hero-bg-hover: hsl(200, 86%, 73%);
