@mixin barlow-font($font-weight: 600) {
  font-weight: $font-weight;
  font-family: "Barlow", sans-serif;
}

@mixin fraunces-font($font-weight: 700) {
  font-weight: $font-weight;
  font-family: "Fraunces", serif;
}
