@use "../styles/use-fonts-colors" as ufc;

html {
  font-size: 112.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include ufc.barlow-font;
  color: ufc.$neutral-white;
}
