<section class="footer">
  <app-logo color="green" class="logo"></app-logo>
  <ul class="company-links">
    <li *ngFor="let link of links">
      <a [href]="link.link" target="_blank">{{ link.label }}</a>
    </li>
  </ul>
  <ul class="social-icons">
    <li *ngFor="let icon of icons">
      <a [href]="icon.link" target="_blank">
        <app-svg-icon [icon]="icon.name"></app-svg-icon>
      </a>
    </li>
  </ul>
</section>
