@use "../../../styles/colors";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.8rem;
  text-align: center;
  background-color: colors.$primary-cyan-moderate;
}

.logo {
  margin-bottom: 1.6rem;
}

.company-links,
.social-icons {
  list-style: none;
}

.company-links {
  display: flex;
  gap: 3.6rem;
  margin-bottom: 4.8rem;
  li {
    a:link,
    a:visited {
      color: colors.$primary-dark-cyan;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
      &:hover,
      &:active {
        color: colors.$neutral-white;
      }
    }
  }
}

.social-icons {
  display: flex;
  gap: 1.8rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 3.2rem 4.8rem 3.6rem;
  }
  .logo {
    margin-bottom: 2.2rem;
  }
  .company-links {
    gap: 2.8rem;
  }
}
