<div class="container">
  <app-hero></app-hero>
  <app-features></app-features>
  <app-testimonials></app-testimonials>
  <app-gallery></app-gallery>
  <app-footer></app-footer>
  <app-attribution></app-attribution>
</div>
