@use "../../../../styles/use-fonts-colors" as ufc;

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover,
.nav-link:active {
  color: #eee;
}

.nav-links li:last-child a {
  @include ufc.fraunces-font(900);
  font-size: 0.7rem;
  color: ufc.$primary-dark-cyan;
  padding: 0.8rem 1.4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  background-color: ufc.$neutral-white;
  transition: background-color 0.3s, color 0.3s;
  &:hover,
  &:active {
    background-color: ufc.$hero-bg-hover;
    color: ufc.$neutral-white;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .nav-links {
    gap: 1.2rem;
  }
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    color: ufc.$neutral-blue-g;
  }
  .nav-links li:last-child a {
    background-color: ufc.$primary-yellow;
    padding: 0.8rem 1.6rem;
    color: ufc.$neutral-blue-vgd;
  }
}
