<div class="card">
  <img [src]="imageName" alt="image of Emily" class="image" />
  <p class="testimony">
    {{ testimonial.testimony }}
  </p>
  <div class="person-info">
    <span class="person-name">{{ testimonial.personName }}</span>
    <span class="person-role">{{ testimonial.personRole }}</span>
  </div>
</div>
