@use "../../../../styles/use-fonts-colors" as ufc;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
}

.image {
  border-radius: 50%;
  width: 3.6rem;
}

.testimony {
  color: ufc.$neutral-blue-vdg;
  line-height: 1.6rem;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.person-name {
  @include ufc.fraunces-font(900);
  color: ufc.$neutral-blue-vgd;
}

.person-role {
  color: ufc.$neutral-blue-g;
  font-size: 0.7rem;
}

@media (max-width: 600px) {
  .card {
    gap: 1.8rem;
  }
}
