<div class="row" [ngClass]="{ 'row-reversed': feature.direction === 'rtl' }">
  <div class="left">
    <p class="heading">{{ feature.heading }}</p>
    <p class="description">
      {{ feature.description }}
    </p>
    <a href="#" class="learn-more"
      >Learn More
      <div
        class="highlight"
        [ngClass]="{
          'yellow-highlight': feature.learnMoreColor === 'yellow',
          'red-highlight': feature.learnMoreColor === 'red'
        }"
      ></div>
    </a>
  </div>
  <div class="right">
    <img [src]="imagePath" [alt]="'image of' + feature.imageName" />
  </div>
</div>
