@use "../../../../styles/use-fonts-colors" as ufc;

.row {
  display: flex;
  text-align: center;
}

.row-reversed {
  flex-direction: row-reverse;
}

.left,
.right {
  flex-basis: 50%;
}

.left {
  padding: 10rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: ufc.$neutral-blue-vgd;
}

.heading {
  @include ufc.fraunces-font(900);
  line-height: 1;
  font-size: 2rem;
  width: 90%;
  margin-inline: auto;
}

.description {
  line-height: 1.6;
  font-weight: 500;
}

.learn-more {
  @include ufc.fraunces-font(900);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: relative;
  align-self: flex-start;
}

.highlight {
  height: 0.7rem;
  width: 100%;
  transform: scaleX(1.15);
  position: absolute;
  top: 0.7rem;
  z-index: -1;
  border-radius: 10rem;
}

.yellow-highlight {
  background-color: hsl(51, 100%, 80%);
}

.red-highlight {
  background-color: hsl(10, 99%, 90%);
}
.learn-more:hover .yellow-highlight,
.learn-more:active .yellow-highlight {
  background-color: ufc.$primary-yellow;
}

.learn-more:hover .red-highlight,
.learn-more:active .red-highlight {
  background-color: ufc.$primary-red;
}

.right {
  display: flex;
}

.right img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .left {
    padding: 4.2rem 1.4rem;
  }
  .heading {
    font-size: 2rem;
  }
  .learn-more {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    padding: 3.6rem 1.2rem;
  }
  .heading {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .learn-more {
    align-self: center;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  .highlight {
    top: 0.6rem;
    height: 0.6rem;
  }
}
