<section class="features" id="features">
  <app-feature-row
    *ngFor="let feature of featureRows"
    [feature]="feature"
  ></app-feature-row>
  <div class="feature-cards">
    <app-feature-card
      *ngFor="let feature of featureCards"
      [feature]="feature"
    ></app-feature-card>
  </div>
</section>
