.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery img {
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
